<div>
  <mat-toolbar>
    <button mat-button routerLink="RMmain">Characters</button>
    <button mat-button routerLink="Location">Locations</button>
    <button mat-button routerLink="Episode">Episode</button>
    <button mat-button routerLink="RMmain/listaCart">ListCharacterCard</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>