<div class="btnPN">
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="preview()"
      *ngIf="info.prev"
    >
      Prev
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="next()"
      *ngIf="info.next"
    >
      Next
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="air_date">
    <th mat-header-cell *matHeaderCellDef>Air Date</th>
    <td mat-cell *matCellDef="let element">{{ element.air_date }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="episode">
    <th mat-header-cell *matHeaderCellDef>Episode</th>
    <td mat-cell *matCellDef="let element">{{ element.episode }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>Url</th>
    <td mat-cell *matCellDef="let element">{{ element.url }}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let element">{{ element.created }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
