<!-- <ul>
  <li>
    <a routerLink="cambioDolar">Ir a Cambio Dolar</a>
  </li>
  <li>
    <a routerLink="clientes">Ir a Lista Clientes</a>
  </li>
  <li>
    <a routerLink="clientes/create">Ir a Crear Clientes</a>
  </li>
</ul> -->

<button mat-button [matMenuTriggerFor]="belowMenu">Ir a Cambio Dolar</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="clientes">Lista Clientes</button>
  <button mat-menu-item routerLink="clientes/create">Crear Clientes</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu2">Moneda</button>
<mat-menu #belowMenu2="matMenu" yPosition="below">
  <button mat-menu-item routerLink="cambioDolar">Tipo Cambio</button>
</mat-menu>
