<div>
    <mat-toolbar>
        <button mat-button routerLink="Empleados">Empleados</button>
        <!-- <button mat-button routerLink="Personas">Personas</button>
        <button mat-button routerLink="Puesto">Puesto</button> -->
        <!-- <button mat-button routerLink="RMmain/listaCart">ListCharacterCard</button> -->
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>