<!-- <p>detalle-location works!</p> -->

<div class="row">
    <div class="col-12" *ngIf="location.id">
        <div class="card" style="width: 25rem;">
            <!-- <img src="{{ location.image}}" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h2 class="card-title"> {{ location.id }} {{ location.name }} </h2>
                <ul class="card-text">
                    <li>Type: {{ location.type }} </li>
                    <li>Dimension: {{ location.dimension }} </li>
                    <li>Url: {{ location.url }} </li>
                    <li>Date: {{ location.created | date:'short' }} </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div class="col-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="episode">
                <th mat-header-cell *matHeaderCellDef>Episodio</th>
                <td mat-cell *matCellDef="let element">{{ element.episode }}</td>
            </ng-container>

            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef>Detail</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [routerLink]="['/RMmain/detalle',element.id]">Detalle</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div> -->

</div>